Repository paiml/mp4convertor: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, pmat-tdg, pmat-satd, coverage-gate

cargo-fmt:
  name: Cargo fmt
  description: Format Rust code with cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo test
  description: Run Rust tests
  entry: cargo test --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: Cargo audit
  description: Security audit for Rust dependencies
  entry: cargo audit
  language: system
  pass_filenames: false

pmat-tdg:
  name: TDG Score Check
  description: Ensure TDG score stays above 90 (A grade)
  entry: bash
  language: system
  args:
  - -c
  ...

pmat-satd:
  name: SATD Check
  description: Ensure zero Self-Admitted Technical Debt
  entry: bash
  language: system
  args:
  - -c
  ...

coverage-gate:
  name: Coverage Gate (80%+)
  description: Ensure test coverage stays above 80%
  entry: bash
  language: system
  args:
  - -c
  ...

Sprint 3: Intelligent Video Compliance Fixing System Complete
  Cargo.toml
  README.md
  ROADMAP.md
  docs/specifications/content-standard-spec.md
  src/google_drive.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, pmat-tdg, pmat-satd, coverage-gate

feat: Enhanced audio codec support and reporting
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, pmat-tdg, pmat-satd, coverage-gate

docs: Update documentation and version for v0.2.0 release
  Cargo.toml
  README.md
Due: cargo-audit, pmat-tdg, pmat-satd, coverage-gate

docs: Add comprehensive tutorials and troubleshooting guide
  README.md
Due: none

feat: add nightly binary release workflow (Refs PMAT-059)
  .github/workflows/nightly.yml
Due: none

ci: add PR authorization gate for org-only PRs
  .github/workflows/pr-gate.yml
Due: none

chore: update deny.toml — explicit advisory ignores, CDLA-Permissive-2.0, allow-org
  deny.toml
Due: pmat-tdg, pmat-satd, coverage-gate

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)
  pmat-tdg: any of: \.(rs|toml)$
  pmat-satd: any of: \.(rs|toml)$
  coverage-gate: any of: \.(rs|toml)$
